<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>SanXe Oto</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur et est sed felis aliquet sollicitudin</p>
            <span>
                <p>login with social media</p>
                <a href="#">Login with Facebook</a>
                <a href="#">Login with Twitter</a>
            </span>
        </div>
    </div>


    <div class="right">
        <form action="/signup/{{values}}" method="POST">
            <h5>Info</h5>
            
            <div class="inputs">
                <input type="text" placeholder="Họ và Tên" name="ten" required>               
                <input type="text" placeholder="Tuổi" name="tuoi" required>
                <input type="text" placeholder="Số điện thoại" name="sdt" required>
                <input type="text" placeholder="Địa chỉ" name="diachi" required>
            </div>

            <br><br>

        

            <br>
            <button type="submit">Đăng kí</button>
        </form>
    </div>

</div>