.container {
  margin: 0 0 0 50px; }

.user {
  background-color: black;
  border-radius: 100%;
  width: 30px;
  height: 30px; }

.card {
  width: 380px;
  height: 203px; }

.cars {
  display: flex;
  justify-content: space-evenly; }
