<div class="activate">
    <h3>Cách thức SanxeOto hoạt động</h3>
    <div class="list-activate">
        <div class="item-activate">
            <div class="img1">
            <span>1</span>
            <img  src="https://static.carmudi.vn/carmudi_v3/images/method/corner.svg">
            </div>
            <img class="img2" src="https://static.carmudi.vn/carmudi_v3/images/method/calendar.svg">
            <p>1.Định giá và đặt lịch kiểm tra xe miễn phí</p>
        </div>
        <div class="item-activate">
            <div class="img1">
            <span>2</span>
            <img  src="https://static.carmudi.vn/carmudi_v3/images/method/corner.svg">
            </div>
            <img class="img2" src="https://static.carmudi.vn/carmudi_v3/images/method/mail.svg">
            <p>2. Nhận kết quả tình trạng xe và giá đề xuất</p>
        </div>
        <div class="item-activate">
            <div class="img1">
            <span>3</span>
            <img  src="https://static.carmudi.vn/carmudi_v3/images/method/corner.svg">
            </div>
            <img class="img2" src="https://static.carmudi.vn/carmudi_v3/images/method/car.svg">
            <p>3. SanxeOto tiến hành mọi thủ tục mua-bán xe trong 24 giờ</p>
        </div>
        <div class="item-activate">
            <div class="img1">
            <span>4</span>
            <img  src="https://static.carmudi.vn/carmudi_v3/images/method/corner.svg">
            </div>
            <img class="img2" src="https://static.carmudi.vn/carmudi_v3/images/method/money.svg">
            <p>4. Chủ xe nhận thanh toán nhanh - gọn trong vòng 1 giờ</p>
        </div>
    </div>
</div>