<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tư vấn</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="dropdown-center">
        <button class="user dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

        </button>
        <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="#">Thông tin</a></li>
            <li><a class="dropdown-item" href="/car/create">Đăng bán xe</a></li>
            <li><a class="dropdown-item" href="/car/stored">Kho lưu trữ</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
        </ul>
    </div>

</nav>