<div id="menu">
    <img class="img" src="https://sanxeoto.com/images/uploads/logo/xehoisanxeoto_86e3.png">
    <ul>
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="/car/list">Cửa hàng</a></li>
        <li>
            <a href="">Giới thiệu </a>
            <div class="content-item">
                <a href="#">Liên hệ</a><br>
                <a href="#">Câu chuyện </a><br>
                <a href="#">Phát triển bền vững</a><br>
                <a href="#">Tin tức & Sự kiện</a><br>
            </div>
        </li>
        <li>
            <a href="#">Dịch vụ</a>
            <div class="content-item">
                <a href="#">Đặt lịch hẹn</a><br>
                <a href="#">Bảo dưỡng</a><br>
                <a href="#">Bảo hành</a><br>
                <a href="#">Phụ tùng</a><br>
                <a href="#">Bản tin kỹ thuật</a><br>
                <a href="#">Thông cáo triệu hồi</a><br>
            </div>
        </li>
        <li>
            <a href="#">Tư vấn</a>
            <div class="content-item">
                <a href="#">Chọn cấu hình xe</a><br>
                <a href="#">Đăng ký lái thử</a><br>
                <a href="#">Bảng giá & brochure</a><br>
                <a href="#">Khối doanh nghiệp</a><br>
                <a href="#">Khách hàng ưu tiên</a><br>
                <a href="#">Thông cáo triệu hồi</a><br>
            </div>
        </li>
        <li><i class="bi bi-person-circle">
            <div class="content-item">
                <a href="#">Thông tin</a><br>
                <a href="/car/cart">Giỏ hàng</a><br>
                <a href="/car/contact">Đang liên hệ</a><br>
                <a href="/car/buy">Đã mua</a><br>
                <a href="/logout">Đăng xuất</a><br>
            </div>
        </i></li>
    </ul>
</div>