<div class="news">
    <h3>Tin Tức Thị Trường</h3>
    <div class="grid-news">
        <div class="item item1">
        <div class="text-news">
            <p>Toyota Corolla Nightshade 2024: Thông số, Đánh giá & Giá bán mới nhất T5/2023</p>
        </div>
    </div>
    <div class="item item2">
        <div class="text-news2">
            <p>Peugeot 2008 GT Line 2023: Thông số, Hình ảnh & Giá bán mới nhất T5/2023</p>
        </div>
    </div>
    <div class="item item3">
        <div class="text-news2">
            <p>Liux Geko là chiếc xe EV siêu nhỏ với thân xe làm từ thực vật?</p>
        </div>
    </div>
    </div>
    <a class="btn btn-primary">Xem tất cả tin tức</a>
</div>