<div class="CSSgal">

  <!-- Don't wrap targets in parent -->
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>

  <div class="slider">
    <div style="background-image: url(https://kiavietnam.com.vn/storage/bao-duong/07182022-banner-website-kia-06.png);"> </div>
    <div style="background-image: url(https://mazdamotors.vn/media/w1jniyml/banner-web-08.jpg);"></div>
    <div style="background-image: url(https://porsche-vietnam.vn/wp-content/uploads/2019/04/rd-2021-homepage-banner-pcna-macanii-kw29--1600x615.jpg);"></div>
    <div style="background-image: url(https://porsche-vietnam.vn/wp-content/uploads/2021/07/rd-2021-homepage-banner-ww-e3topgt-kw26-1600x615.jpg);"> </div>
  </div>


  <div class="bullets">
    <a href="#s1">1</a>
    <a href="#s2">2</a>
    <a href="#s3">3</a>
    <a href="#s4">4</a>
  </div>

</div>

{{!-- <div class="wrapper swiper-wrapper">
  <div class="slide swiper-slide">
    <img src="/image/car1.avif" alt="" class="image">
  </div>
  <div class="slide swiper-slide">
    <img src="/image/car2.avif" alt="" class="image">
  </div>
  <div class="slide swiper-slide">
    <img src="/image/car3.avif" alt="" class="image">
  </div>
</div>


<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
<div class="swiper-pagination"></div> --}}