<div class="content-wrapper">
    <div class="content">
        <div class="signup-wrapper shadow-box">
            <div class="company-details ">
                <div class="shadow"></div>
                <div class="wrapper-1">
                    <div class="logo">
                        <div class="icon-food">

                        </div>
                    </div>
                    <h1 class="title">cupcar co.</h1>
                    <div class="slogan">We deliver cupcar to you.</div>
                </div>
            </div>


            <div class="signup-form ">
                <div class="wrapper-2">
                    <div class="form-title">CREATE NOW</div>
                    <div class="form">
                        <form action="/car/create" method="POST">
                            <p class="content-item">
                                <label>Tên xe
                                    <input type="text" placeholder="Ví dụ: Lx 570" name="ten" required>
                                </label>
                            </p>
                            <p class="content-item">
                                <label>Sản xuất năm
                                    <input type="text" placeholder="Ví dụ: 2018" name="nam" required>
                                </label>
                            </p>

                            <p class="content-item">
                                <label>Biển số
                                    <input type="text" placeholder="Ví dụ: 15A-12345" name="bienso" required>
                                </label>
                            </p>

                            <p class="content-item">

                                <label>Giá bán
                                    <input type="text" placeholder="Ví dụ: 1.999.999.999 vnđ" name="gia" required>
                                </label>
                            </p>

                            <p class="content-item">

                                <label>VideoId
                                    <input type="text" placeholder="Ví dụ: n3_de9LeZ" name="videoId" required>
                                </label>
                            </p>

                            <button type="submit" class="signup">Đăng </button>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">